.container {/*elemento pai*/
    background-color:gainsboro;
    min-height:800px;  
    width: 100%;
    text-align:center;
    position:relative;
    display: flex;
    flex-flow: column;  
    flex-grow: 2;
    flex-basis: auto;    
}


body {
    height: 100vh;
    margin: 0;
    text-align: center;
}


.conteudo {
    font-family: Arial;    
    font-size: 12px;      
    width: 70%;
    position: relative;
    top:  50px; 
    margin-left: auto;
    margin-right: auto;      
    height:auto;    
    padding: 10px;    
    font-family: Arial;
    font-size: 20px; 
    text-align: justify;           
}


.conteudo >p {
    font-family: Arial;
    font-size: 16px; 
    text-align: justify;
}


.cabecalho  {
    color:rgb(149, 32, 32) ;    
    font-family: Arial;
    font-size: 20px;           
    height: 80px;
    background-color:rgb(155, 180, 11);  
}

.cabecalho h1 {
    padding-top: 10px;
}

.center {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;    
}


.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}



.rodape {
    background-color:rgb(155, 180, 11);  
    top: 99 hv ;
    height: 60px;
    width: 100%;
    position: absolute;
	bottom: 0;    
}

.rodape  >p {
    color: white;
    text-align: justify;
}

.gal_info  li {
    list-style: none;
    padding: 0;
}
    
.gal_info   li  {
    float: left;
    margin-left: 10px;
    position: relative;
}

.gal_info li  span {
    color: #153755;
    display: block;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.gal_info img {
    width: 100px;

}

.gal_info li:nth-child(even) {
    transform: rotate(5deg);
}

.gal_info li:nth-child(odd) {
    transform: rotate(-5deg);
}

.gal_info li:hover {
    transform: scale(1.3);
    z-index: 1;
}

/* Muda a cor da barra */
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(128, 128, 128); 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: orangered; 
  }